@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --custom-yellow-color: #ffc30c;
  --custom-black-color: #000000;
  --custom-white-color: #ffffff;
  --custom-text-color: #555;
  --custom-gray-color: #999;
}
body {
  font-family: "Open Sans", sans-serif;
  background: var(--custom-white-color);
}
